@using BAND.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title</h1>
        <p class="lead text-muted">Your Bands.</p>
    </div>
</section>

@if (ViewBag.Bands != null)
{
    var bands = (List<Band>)ViewBag.Bands;
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @foreach (var band in bands)
                {
                    <div class="col-md-4">
                        <div class="card border-secondary mb-4">
                            @if (!string.IsNullOrEmpty(band.CoverImageUrl))
                            {
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@band.CoverImageUrl" data-holder-rendered="true">
                            }
                            <div class="card-body">
                                <p class="card-text">@band.Name</p>
                                <p>Key: @band.BandKey</p>
                                <p>Members: @band.MessageCount</p>
                                <p>Is School Band: @band.IsSchoolBand</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @Html.ActionLink("View Posts", "Posts", new { id = band.BandKey }, new { @class = "btn btn-success btn-sm" })
                                        @Html.ActionLink("View Albums", "Albums", new { bandKey = band.BandKey }, new { @class = "btn btn-success btn-sm" })
                                        @*<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>*@
                                    </div>
                                    @*<small class="text-muted">9 mins</small>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <p>No profile data available</p>
}